.project-card {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 300px;
  margin: 30px;
}

.project-card h2 {
  margin-bottom: 15px;
  font-size: 2em;
  color: grey;
}

.project-card p {
  color: grey;
}

.project-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.project-text {
  color: var(--secondary);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 50px;
  z-index: 900;
  opacity: 0;
  transition: all .5s ease-in-out;
}