.project-card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .project-card h2 {
    margin-bottom: 15px;
    font-size: 2em;
    color: grey;
  }
  
  .project-card p {
    color: grey;
  }